body,p,span{
    font-family: 'Roboto', sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
.mainmenu .container-fluid,.slider-section .container-fluid{
    max-width: 1380px;
}
.ulmenu a{
padding: 10px 20px;
display: inline-block;
color: #111;
font-weight: 500;
text-decoration: none;
}
.ulmenu li ul i{
margin-left: 18px;
}
.fas.fa-chevron-down {
    margin-right: -13px;
}
.ulmenu i {
    position: absolute;
    top: 35%;
    left: 90%;
    font-size: 12px;
}
.ulmenu li {
    position: relative;
}
.searceicon {
    font-size: 20px;
    margin-left: 20px;
}
.ulmenu li{position: relative;}
.ulmenu li ul{position: absolute;
width: 250px;
background-color: #fafafa;
top: 150%;
padding: 10px;
opacity: 0;
visibility: hidden;
list-style: none; 
transition: .4s ease-in-out;
left: 0;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

}
.ulmenu li:hover ul{
    opacity: 1;
    visibility: visible;
top: 129%;
}
.leftcontent a {

    color: black;
    margin-top: -15px;

}
.leftcontent {

    width: 200px;
    margin-top: 5.8px;

}
.searceicon {
    width: 40px;
    font-size: 20px;
    border-right: 1px solid #ddd;
    margin-right: 23px;
}
.rightcontent {
    font-size: 32px;
    margin-top: 10px;
    color: #e73c3e;
}
.leftcontent a {
    color: black;
    margin-top: -15px;
}
.btn.btn-primary::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:0%;
    height: 99%;
    background: #111;
    border: #111;
    z-index: -1;
    transition: all .5s;
}
.btn-primary {
    background: #e73c3e!important;
    border: #e73c3e!important;
    padding: 6.2px 23.9px;
    font-size: 18.5px;
    position: relative;
    z-index: 1;
    
}
.btn-primary:hover::after{
width: 100%;
} 
.slider-section{
    background: url(img/main-banner2.jpg) no-repeat center center;
    background-size: cover;
}
.slider-title-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
position: relative;
}
.banner-social-icon ul{
padding-left: 0;
}
.banner-social-icon {
    position: absolute;
    left: 0;
    bottom: 0;

}
.banner-social-icon ul li{
    list-style: none;
    padding: 0px 10px;
color: #111;
display:inline-block;
margin-top: 10px;
}
.banner-social-icon ul li a{
    color: #111;
} 
.banner-social-icon span::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 43%;
    background: #111;
    top: 50%;
    left: 93px;
}


.banner-social-icon span {

    position: relative;
    font-size: 20px;
    display: inline-block;
    margin-right: 40px;
    margin-top: -10px;

}
.slider-title h6{
    color: #ff5200;

}
.slider-title p{
    color: #606060;

}
.slider-title h1{
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
} 
.client-section{
    border-bottom: 1px solid #ddd;
}
.client-logo ul{
list-style: none;
padding-left: 0;
} 
.aboutimg{
    position: relative;
}
.aboutimgtext {
    background: url(img/shape.png);
        background-repeat: repeat;
        background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -48px;
    right: 84px;
    position: absolute;
    background-size: contain;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midtext h2 {
    font-size: 50px;
    color: #e63b3d;
}
img{max-width: 100%;}
.finix-text h1 {
    font-weight: 400;
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.finix-text h6 {
    color: #e63b3d;
    font-weight: 400;
}
.finix-text ul {
    list-style: none;
    padding-left: 0;
}
.finix-text ul li i {
    margin-right: 10px;
    color: #e63c3e;
}
.finix-text ul li {
    line-height: 37px;
}
.finix-text img{
    position: relative;
}
.whychoce {
    background: #f8f9fa;
}
.stitle i {
    font-size: 40px;
    margin-bottom: 24px;
    color: #e73c3e;
    margin-top: 20px;
    background: rgb(238, 163, 163);
    width: 68px;
    height: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
        margin-bottom: auto;
    border-radius: 50%;
    margin-bottom: 16px;
}
.stitle {
    background: white;
    padding: 30px;
    transition: .5s;
    margin-top: 77px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.stitle h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.stitle p{
    font-size: 17px;
    line-height: 28px;
}
.stitle:hover{
    transform: translatey(-20px);
}
.stitle::after {
    content: "";
    position: absolute;
    top: -101px;
    left: 20px;
    width: 85%;
    height: 60%;
    background: #fdebeb;
    border-radius: 50%;
    z-index: -1;
}
.mt1{
    top: 40px;
}
.mt {
    margin-top: 36px;
}
.stitle:hover i {
    background: #e73c3e;
    color: white;
}
.imgdiv {
    position: relative;
}
.animatebtn {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #e73c3e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white!important;
    top: 318px;
    left: 349px;
    font-size: 27px;
}
.animatebtn::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #e73c3e;
    border-radius: 50%;
    animation: myanimate 1.6s ease-out infinite;
} 
@keyframes myanimate{

    0%{
        transform: scale(1);
        opacity: 0;

    }
    50%{
        transform: scale(1.5);
        opacity: .75;

    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
.foundinglist ul{
    list-style: none;
    position: relative;
}
.foundinglist li{position: relative;}
.foundinglist p{
    color: #606060;
}
.foundinglist strong{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 80px;
}
.foundinglist p {
    margin-top: 9px;
    margin-bottom: 34px;
}
.foundinglist ul::before {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 85px);
    background: #e73c3e;
    left: 4px;
}
.foundinglist li::before {
    content: attr(count);
    left: -43px;
    position: absolute;
  
    width: 30px;
    height: 30px;
    background: #f9fafb;
    border: 1px solid #e73c3e;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.calform{
    padding: 50px;
    background: #fdebeb;
}
.formdiv .form-group {
    margin-bottom: 15px;
}
.formdiv label {
    color: #606060;
    margin-bottom: 8px;
}
.callitem{
    background: #e63b3d;
    padding: 50px;
    color: #f8f9fa;
    border-radius: 10px;
}
.callleft a {
    color: white;
    font-size: 40px;
    text-decoration: none;
}
.callleft span {
    font-size: 28px;
    margin-right: 15px;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    color: #e73c3e;
    text-align: center;
}
.calltext {
    border-right: 1px solid #ddd;
    margin-left: 40px;
}
.callleft i::after {

    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    color: #e73c3e !important;
    text-align: center;
    left: -16px;
    border-radius: 50%;
    z-index: -1;
    top: -10px;

}
.callleft {
    margin-left: 19px;
}
.companyicon i {
    font-size: 30px;
    background: #e73c3e;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 23px;
}
.companyitem{
    margin-bottom: 10px;
}
.companayimg img {
    margin-top: 54px;
}
.service-section{
    background: #f9fafb;
}
.mytab li{
    padding: 0px 40px;
    position: relative;
}

.tabtext ul {
    list-style: none;
    padding-left: 18px;
    position: relative;
}
.tabtext p {
    color: #606060;
}
.tabtext ul li::after {
    content: "";
    position: absolute;
    left: 3px;
    
    width: 8px;
    height: 9px;
    background: #e73c3e;
    margin-top: 8px;
    border-radius: 50%;
}
.mycarosal ul{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.mycarosal li span {
    width: 50px;
    height: 50px;
    background: #606060;
    border-radius: 50%;
    line-height: 50px;
    color: white;
    text-align: center;
    margin: auto;
        margin-bottom: auto;
    margin-bottom: 14px;
}
.mycarosal li strong {
    color: black;
    font-size: 16px;
}
.mycarosal li a.active span i {
    color: #e73c3e;
}
.mycarosal li a.active {position: relative;}
.mycarosal li a.active::after {
    content: "";
    position: absolute;
    width: 110px;
    height: 2px;
    background: #e63b3d;
    right: 18px;
    top: 124px;
}
.clientstext p{
line-height: 40px;
font-size: 25px;
}
.clientsimg{
    position: relative;
}
.clientsimg li {
    position: relative;
    
    margin-left: 487px;
    margin-top: 22px;
}
.clientsimg li::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 110px;
    width: 17px;
    height: 17px;
    border: 5px solid #e73c3e;
    border-radius: 50%;
}
.clientsimg ul {
    margin-top: -283px;
}
.expertsection{
    background: #fafbfc;
}
.expertstext h6{
color: firebrick;
font-size: 20px;
margin-top: 10px;
}
.expertimg{
    position: relative;
}

.experticon {
    position: absolute;
    bottom: 14px;
    margin: auto;
    left: 23px;
    color: white;
}
.experticon li {
    margin: 10px;
    width: 30px;
    height: 30px;
    background: #ddd;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: black;
    visibility: hidden;
    opacity: 0;
    list-style: none;
    transition: .4s;
    transform: translatey(30px);
    display:inline-block
}
.expertimg:hover li{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.expertimg li:nth-child(1){
    transition-delay:.1s;
}
.expertimg li:nth-child(2){
    transition-delay: .2s;
}
.expertimg li:nth-child(3){
    transition-delay: .3s;
}
.expertimg li:nth-child(4){
    transition-delay: .4s;
} 
.experticon li a:hover i{
    color: #e73c3e;
}
.recentimg span{
    color:#e73c3e;
    margin-top: 60px;
}
.recentimg a{
    color:#e73c3e;
    text-decoration: none;
    transition: .4s;
}
.recentimg:hover a{
letter-spacing: 1px;
}
.topfooter{
    border-bottom: 1px solid #606060;
}
.topfooter ul li a{
    color: #f8f9fa;
    text-decoration: none;

}
.topfooter h6 {
    color: white;
    border-bottom: 1px solid #606060;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.topfooter ul{
    text-decoration: none;
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.topfooter ul li{
    margin-top: 10px;
}
.topfooter p{
    color: white;
}
.topfooter span{
    color: white;
    
}
.topfooter a{
    text-decoration: none;
    color:white;
}
.myfooteritems{
    margin-top: 10px;
}
.myfooteritems span {
    margin-right: 10px;
    font-size: 20px;
}
.myfooteritems {
    margin-top: 26px;
    width: 202px;
}
.myfootericon li {
    display: inline-block;
    margin-left: 10px;
}
.myfootericon ul {
    margin-left: 15px;
    margin-top: -10px;
}
.footeritems a:hover{
    letter-spacing: 1px;
    color: #e73c3e;
    transition: .3s;
}
.myfooteritems p {
    color: white;
    margin-bottom: -4px;
}
.bottomfooter a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}